:root {
          /** CSS PRIMARY COLORS */ 
          --color-primary-a0:   #ffffff;
          --color-primary-a10:  #d3eff4;
          --color-primary-a20:  #a4dee9;
          --color-primary-a30:  #6ecddf; 
          --color-primary-a50:  #00bcd4;
          --color-primary-a60:  #1c899a;
          --color-primary-a70:  #1e5a64;
          --color-primary-a80:  #172e33;
          --color-primary-a90:  #000000;  
}

/* Grid Layout */
.container01 {
    display: grid;
    
    /* gap row column */
    gap: 5px 10px;    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 0.5rem;
}

.item {
    padding-left: 0.25rem;
}
    
.item1 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
}

.item2, .item3, .item4, .item5 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
}

.item2 {
    grid-row-start: 1;
}

.item3 {
    grid-row-start: 2;
}

.item4 {
    grid-row-start: 3;
}

.item5 {
    grid-row-start: 4;
}

.item6 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
}

/* Colors */

.container01 {
    background: var(--color-primary-a90);
    color: var(--color-primary-a0);
}

.item1 {
    background: var(--color-primary-a90);
    color: var(--color-primary-a10);
}

.item2 {
    background: var(--color-primary-a30);
}

.item3 {
    background: var(--color-primary-a50);
}

.item4 {
    background: var(--color-primary-a60);
}

.item5 {
    background: var(--color-primary-a70);
}

.item6 {
    background: var(--color-primary-a80);
}
