:root {
    /** CSS PRIMARY COLORS */ 
    --color-primary-a0:   #ffffff;
    --color-primary-a10:  #d3eff4;
    --color-primary-a20:  #a4dee9;
    --color-primary-a30:  #6ecddf; 
    --color-primary-a50:  #00bcd4;
    --color-primary-a60:  #1c899a;
    --color-primary-a70:  #1e5a64;
    --color-primary-a80:  #172e33;
    --color-primary-a90:  #000000;  
  }
  